{# -*- mode: jinja2 -*- #}
{% if DISQUS_SITENAME %}
  <section class="comments">
    <div id="disqus_thread">
      <script>
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        (function() {
          var script = document.createElement('script');
          script.type = 'application/javascript';
          script.async = true;
          script.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          document.getElementsByTagName('head')[0].appendChild(script);
        })();
      </script>
      <a href="https://disqus.com" class="dsq-brlink">
        blog comments powered by <span class="logo-disqus">Disqus</span>
      </a>
    </div>
  </section>
{% endif %}
