<header>
  <nav class="navbar navbar-fixed-top hidden-print">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
          <span class="fa fa-bars navbar-toggle-content"></span>
        </button>
        <a class="navbar-brand" href="{{ SITEURL }}">{{ SITENAME }}</a>
      </div>

      <div id="navbar-menu" class="collapse navbar-collapse">
        {% if PAGES_ON_MENU and PAGES %}
          <ul class="nav navbar-nav">
            {% for page in PAGES %}
              <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if LINKS %}
          <ul class="nav navbar-nav">
            {% for title, link in LINKS %}
              <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        <ul class="nav navbar-nav navbar-right">
          {% if 'tipue_search' in PLUGINS %}
            <li>
              <form action="{{ SITEURL }}/search.html">
                <input type="text" id="tipue_search_input"
                       name="q" autocomplete="off" placeholder="Search" required>
              </form>
            </li>
          {% endif %}

          {% if INDEXES_ON_MENU %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="visible-xs-inline">Indexes</span>
                <span class="fa fa-folder-o hidden-xs"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ SITEURL }}/categories.html">Categories</a></li>
                <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
                <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                {% if FEED_ALL_ATOM or FEED_ALL_RSS %}
                  <li>
                    <a class="fa fa-rss" href="{{ SITEURL }}/{% if FEED_ALL_ATOM %}{{ FEED_ALL_ATOM }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"></a>
                  </li>
                {% endif %}
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="title-area">
    <div class="container">
      <div class="title">
        <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        {% if TAGLINE %}
          <h2>{{ TAGLINE }}</h2>
        {% endif %}
      </div>
    </div>
  </div>
</header>
