<header>
  <div class="container">
    <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    {% if TAGLINE %}
      <h2>{{ TAGLINE }}</h2>
    {% endif %}
      
    <nav>
      <ul class="list-inline list-separated list-separated-pipe">
        {% for title, link in LINKS %}
          <li><a href="{{ link }}" target="_blank">{{ title }}</a></li>
        {% endfor %}

        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% endif %}

        {% if CATEGORIES_LINK_ON_MENU %}
          <li><a href="{{ SITEURL }}/categories.html">Categories</a></li>
        {% endif %}

        {% if TAGS_LINK_ON_MENU %}
          <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
        {% endif %}

        {% if ARCHIVES_LINK_ON_MENU %}
          <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
        {% endif %}

        {% if FEED_ALL_ATOM or FEED_ALL_RSS %}
          <li>
            <a class="fa fa-rss" href="{{ SITEURL }}/{% if FEED_ALL_ATOM %}{{ FEED_ALL_ATOM }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"></a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
