{# -*- mode: jinja2 -*- #}
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

{% if LOCAL_RESOURCES %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-2.1.4.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap-3.3.5.min.js"></script>
{% else %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endif %}
