@import "variables";

@media print {

    header {

        .title-area {
            margin-top: 0;

            .title h1 a {
                color: @color-text;
            }
        }
    }
    
    a[href]::after {
        content: none;

        .post-content & {
            content: " [" attr(href) "] ";
        }
    }
}
