// -*- mode: less-css -*-

@font: "Ubuntu";
@font-mono: "Ubuntu Mono";
@font-weight-normal: 300;
@font-weight-bold: 500;
@font-size: 20px;

@color-bg-light: #fafafa;
@color-bg-dark: #efefef;
@color-text: #333;
@color-footer-text: #808080;
@color-link: #c7254e;

@border: 1px solid #ddd;
@border-left: 4px solid #ddd;
@border-bar: 5px solid #333;

@top-elements-padding: 2em 0;

@list-separator-spacing: 0.5em;


body {
    background-color: @color-bg-light;
    color: @color-text;
    font-family: @font;
    font-weight: @font-weight-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 1em;
    margin-bottom: 0.7em;
    font-weight: @font-weight-normal;
}

h1,
.h1 {
    margin-top: 0;
}

code,
kbd,
pre,
samp {
    font-family: @font-mono;
    border: @border;
}

tt {
    font-family: @font-mono;
}

a {
    transition: color 0.2s ease-in-out;

    &,
    &:hover,
    &:visited,
    &:active {
        color: @color-text;
        text-decoration: none;
    }

    &:hover {
        color: @color-link;
    }
}

header {
    background-color: @color-bg-dark;
    border-bottom: @border;
    border-top: @border-bar;
    padding: @top-elements-padding;

    h1 {
        font-size: 52px;
        margin-top: 0;
        margin-bottom: .3em;
    }

    h2 {
        color: lighten(@color-text, 20%);
        font-style: italic;
        margin-bottom: 1.2em;
        margin-top: 0;
        margin-left: 1em;
    }

    nav {
        ul {
            font-size: 18px;
            margin-bottom: 0;

            li {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

footer {
    background-color: @color-bg-dark;
    color: @color-footer-text;
    border-top: @border;
    border-bottom: @border-bar;
    font-size: 12px;
    padding: @top-elements-padding;

    .footer-links {
        font-size: 14px;
        font-weight: @font-weight-bold;
    }
}

main {
    padding: @top-elements-padding;
}

article {
    font-size: @font-size;

    .post-title {
        margin-top: 0;
    }

    .post-details {
        font-size: @font-size * 4/5;

        .post-date a {
            &:hover,
            &:visited,
            &:active {
                color: lighten(@color-text, 40%);
            }
        }
    }

    &.post-summary {
        border-bottom: @border;
        padding: 30px 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
        }

        nav {
            margin-top: 1em;

            .btn-group {
                width: 100%;

                .btn {
                    font-weight: @font-weight-normal;
                }

                a {
                    float: right;
                }
            }
        }
    }

    .post-content {
        margin-top: 1.5em;

        img {
            display: block;
            height: auto;
            max-width: 100%;
            width: 100% \9;
        }

        pre {
            font-size: @font-size * 4/5;
            padding: 0.5em;
            border-left: @border-left;
        }

        p,
        pre {
            margin-bottom: 1em;
        }

        a {
            color: @color-link;
            &:hover {
                border-bottom: 1px dotted;
            }
        }
    }
}

.container {
    max-width: 960px;
}

.separator {
    margin-bottom: 2em;
    margin-top: 2em;
}

.pager li a {
    transition: none;
    border-radius: 4px;
}

.list-separated > li {
    padding: 0;
    margin-right: @list-separator-spacing;

    &::after {
        margin-left: @list-separator-spacing;
    }

    &:last-child::after {
        content: none;
    }
}

.list-separated-pipe > li::after {
    content: "|";
}

.list-separated-dot >li::after {
    content: "\b7";
}

.list-inline {
    margin-left: 0;
}

.list-index {
    @margin : 1em;
    margin-left: @margin;

    li,
    dt {
        margin-top: @margin;
        font-size: @font-size;
    }

    dd {
        margin-top: @margin;
        margin-left: @margin;
        font-size: @font-size;
    }
}
