// -*- mode: less-css -*-

@font: "Ubuntu";
@font-medium: "Ubuntu Medium";
@font-light: "Ubuntu Light";
@font-mono: "Ubuntu Mono";

@color-bg-light: #fafafa;
@color-bg-dark: #efefef;
@color-text: #333;
@color-footer-text: #808080;
@color-link: #c7254e;

@border: 1px solid #ddd;
@border-bar: 5px solid #333;

@banner-margin: 30px;
@banner-padding: 30px 0;

@list-separator-spacing: 0.5em;

@list-font-size: 120%;

@content-size: 110%;


body {
    background-color: @color-bg-light;
    color: @color-text;
    font-family: @font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 0.6em;
}

code,
kbd,
pre,
samp {
    font-family: @font-mono;
    border: @border;
}

.a() {
    a {
        transition: color 0.2s ease-in-out;
        &,
        &:hover,
        &:visited,
        &:active {
            color: @color-text;
            text-decoration: none;
        }
        &:hover {
            color: @color-link;
        }
    }
}

.a();

.pagination {
    .a();
}

.content() {
    font-size: @content-size;
    line-height: @content-size + 20%;
}

header {
    background-color: @color-bg-dark;
    border-bottom: @border;
    border-top: @border-bar;
    margin-bottom: @banner-margin;
    padding: @banner-padding;

    h1 {
        font-family: @font-medium;
        font-size: 400%;
        margin-top: 0;
        margin-bottom: .3em;
    }

    h2 {
        color: lighten(@color-text, 20%);
        font-size: 160%;
        font-style: italic;
        margin-bottom: 51px;
        margin-top: 0;
        margin-left: 15px;
    }

    nav ul {
        font-size: 150%;
        margin-bottom: 0;
        li {

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

footer {
    background-color: @color-bg-dark;
    color: @color-footer-text;
    border-top: @border;
    border-bottom: @border-bar;
    font-size: 80%;
    margin-top: @banner-margin;
    padding: @banner-padding;

    .footer-menu {
        font-size: 140%;
    }
}

.post {
    font-size: 135%;
    &.mini-post {
        border-bottom: @border;
        padding: 30px 0;
        &:last-child {
            border-bottom: none;
        }

        .post-title {
            font-size: 150%;
            line-height: 1.42857143; // Bootstrap rule
            margin-bottom: 1em;
            margin-top: 0;
        }

        .post-date a {
            font-size: 120%;
        }
    }

    .post-content {
        margin-top: 20px;
        img {
            display: block;
            height: auto;
            max-width: 100%;
            width: 100% \9;
        }
        pre,
        img {
            border-radius: 4px;
        }
        p {
            .content();
        }
        pre {
            font-size: 100%;
            padding: 0.5em;
        }
        p,
        pre {
            margin-bottom: 1em;
        }
        a {
            color: @color-link;
            &:hover {
                color: lighten(@color-link, 20%);
                text-decoration: underline;
            }
        }

    }
}

.post-date {
    a {
        color: lighten(@color-text, 40%);
    }
}

.page {
    .content {
        .content();
    }
}

.separator {
    margin-bottom: 30px;
    margin-top: 30px;
}

.list-separated > li {
    padding: 0;
    margin-right: @list-separator-spacing;
    &::after {
        content: "|";
        margin-left: @list-separator-spacing;
    }
    &:last-child::after {
        content: none;
    }
}

.index {
    li,
    dt {
        margin-top: 1em;
        font-size: @list-font-size;
    }
    dd {
        padding-top: 1em;
        font-size: @list-font-size;
    }
}
