// -*- mode: less-css -*-

@import (inline) "bootstrap.css";
@import (less) "lesshat-prefixed.less";
@import (inline) "pygments.css";

@font: "Ubuntu";
@font-medium: "Ubuntu Medium";
@font-light: "Ubuntu Light";
@font-monospace: "Ubuntu Mono";

@color-bg-light: #fafafa;
@color-bg-dark: #efefef;
@color-text: #333;
@color-footer-text: #808080;
@color-links: #c7254e;

@border: 1px solid #ddd;
@border-bar: 5px solid #333;

@banner-margin: 30px;
@banner-padding: 30px 0;

@list-separator-spacing: 0.5em;

@list-font-size: 120%;

@content-size: 150%;


body {
    background-color: @color-bg-light;
    color: @color-text;
    font-family: @font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @font;
}

code,
kbd,
pre,
samp {
    font-family: @font-monospace;
    border: @border;
}

.a() {
    a {
        &,
        &:hover,
        &:visited,
        &:active {
            color: @color-text;
            text-decoration: none;
        }
    }
}

.a();

.pagination {
    .a();
}

.container {
    max-width: 970px;
}

.header {
    background-color: @color-bg-dark;
    border-bottom: @border;
    border-top: @border-bar;
    margin-bottom: @banner-margin;
    padding: @banner-padding;

    .header-name {
        font-family: @font-medium;
        font-size: 430%;
        margin-top: 0;
    }

    .header-text {
        color: lighten(@color-text, 20%);
        font-size: 180%;
        font-style: italic;
        margin-bottom: 51px;
        margin-top: 0;
        margin-left: 15px;
    }

    .header-menu {
        font-size: 150%;
        margin-bottom: 0;
        li {

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.footer {
    background-color: @color-bg-dark;
    color: @color-footer-text;
    border-top: @border;
    border-bottom: @border-bar;
    font-size: 80%;
    margin-top: @banner-margin;
    padding: @banner-padding;

    .footer-menu {
        font-size: 140%;
    }
}

.post {
    font-size: 110%;
    &.mini-post {
        border-bottom: @border;
        padding: 30px 0;
        &:last-child {
            border-bottom: none;
        }

        .post-title {
            font-size: 150%;
            line-height: 1.42857143; // Bootstrap rule
            margin-bottom: 1em;
            margin-top: 0;
        }

        .post-date a {
            font-size: 120%;
        }

        .post-category a {
            font-size: 100%;
        }
    }

    .post-content {
        margin-top: 20px;
        img {
            display: block;
            height: auto;
            max-width: 100%;
            width: 100% \9;
        }
        pre,
        img {
            .lh-border-radius(4px);
        }
        p {
            font-size: @content-size;
            text-align: justify;
            line-height: @content-size;
        }
        pre {
            font-size: 125%;
            padding: 1em;
        }
        p,
        pre {
            margin-bottom: 1.5em;
        }
        a {
            color: @color-links;
            &:hover {
                color: lighten(@color-links, 10%);
                text-decoration: underline;
            }
        }

    }
}

.post-date {
    a {
        color: lighten(@color-text, 40%);
    }
}

.page {
    .content {
        font-size: @content-size;
    }
}

.separator {
    margin-bottom: 30px;
    margin-top: 30px;
}

.list-separated > li {
    padding: 0;
    margin-right: @list-separator-spacing;
    &::after {
        content: "|";
        margin-left: @list-separator-spacing;
    }
    &:last-child::after {
        content: none;
    }
}


.index {
    li,
    dt {
        margin-top: 1em;
        font-size: @list-font-size;
    }
    dd {
        padding-top: 1em;
        font-size: @list-font-size;
    }
}
