{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="{{ META_DESCRIPTION|striptags }}">
{% endblock %}

{% block content %}
  {% block page_title %}
    <h1>All Articles</h1>
  {% endblock %}

  {% for article in articles_page.object_list %}
    <article class="mini-post row">
      <aside class="col-md-2 post-details">
        <time class="post-date">
          <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
          </a>
        </time>
        <p class="post-category">
          <a href="{{ SITEURL }}/{{ article.category.url }}">
            {{ article.category }}
          </a>
        </p>
        {% if article.author and SHOW_ARTICLE_AUTHOR %}
          <address class="post-author">
            By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
          </address>
        {% endif %}
      </aside>
      <div class="col-md-10">
        <h2 class="post-title">
          <a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>
        <div class="post-content">
          {% if article.summary %}
            {{ article.summary|striptags }}
          {% else %}
            {{ article.content|striptags|truncate(256) }}
          {% endif %}
        </div>
      </div>
    </article>
  {% endfor %}

  {% include 'include/pagination.html' %}
{% endblock %}
