{# -*- mode: jinja2 -*- #}
{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  {% if page.author %}
    <meta name="author" content="{{ page.author }}">
  {% endif %}
  {% if page.summary %}
    <meta name="description" content="{{ page.summary | striptags }}">
  {% endif %}
  <meta name="tags" contents="{% for tag in page.tags %}{{ tag }}, {% endfor %}">
{% endblock %}

{% block title %}
  {{ SITENAME }} &mdash; {{ page.title | striptags }}
{% endblock %}

{% block content %}
  <article>
    <h1 class="title">{{ page.title }}</h1>
    <div class="content">
      {{ page.content }}
    </div>
  </article>
{% endblock %}
